[submodule "jok3r"]
	path = jok3r
	url = https://github.com/koutto/jok3r
[submodule "ApplicationWeb/wfuzz"]
	path = ApplicationWeb/wfuzz
	url = https://github.com/xmendez/wfuzz
[submodule "Mobile/Mobile-Security-Framework-MobSF"]
	path = Mobile/Mobile-Security-Framework-MobSF
	url = https://github.com/MobSF/Mobile-Security-Framework-MobSF
[submodule "ApplicationWeb/nikto"]
	path = ApplicationWeb/nikto
	url = https://github.com/sullo/nikto
[submodule "ApplicationWeb/Gobuster"]
	path = ApplicationWeb/Gobuster
	url = https://github.com/OJ/gobuster
[submodule "Mobile/FireBaseScanner"]
	path = Mobile/FireBaseScanner
	url = https://github.com/shivsahni/FireBaseScanner.git
